*{
    margin: 0;
    padding: 0;
}
.data {
    width: 140px;
    font-weight: bold;
    margin-right: 10px;
}
.left {
    display: flex;
    justify-content: flex;
    align-items: center;

}
.subHeading {
    padding: 10px 0 5px 0;
}