[submodule "poc-virtualization-backend"]
	path = poc-virtualization-backend
	url = https://github.com/aman-codes-1/poc-virtualization-backend.git
[submodule "poc-virtualization-server"]
	path = poc-virtualization-server
	url = https://github.com/aman-codes-1/poc-virtualization-server.git
